<section>
  <header>
    <div class={{dynamic}}>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOc3KbiD94_P0vk1jbB8CAQhRGdRdmBGGfDQ&s" alt="">
      <h1>{{name}}</h1>
    </div>
    <div class="nav">
      <a href="">Home</a>
      <a href="">About</a>
      <a href="">Tutorial Content</a>
    </div>
  </header>
  <div class="content">
    <div class="left-content">
      <img src="https://angular.dev/assets/images/press-kit/angular_wordmark_gradient.png" alt="">
    </div>
    <div class="right-content">
      <p>      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Angular is a development platform, built on TypeScript.

        As a platform, Angular includes:
        
        A component-based framework for building scalable web applications
        A collection of well-integrated libraries that cover a wide variety of features, including routing, forms management, client-server communication, and more
        A suite of developer tools to help you develop, build, test, and update your code
        With Angular, you're taking advantage of a platform that can scale from single-developer projects to enterprise-level applications. Best of all, the Angular ecosystem consists of a diverse group of over 1.7 million developers, library authors, and content creators.
        <br> <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Angular is a development platform, built on TypeScript.

        As a platform, Angular includes:
        
        A component-based framework for building scalable web applications
        A collection of well-integrated libraries that cover a wide variety of features, including routing, forms management, client-server communication, and more
        A suite of developer tools to help you develop, build, test, and update your code
        With Angular, you're taking advantage of a platform that can scale from single-developer projects to enterprise-level applications. Best of all, the Angular ecosystem consists of a diverse group of over 1.7 million developers, library authors, and content creators.
        
        </p>

        <button>{{getData()}}</button>
      
    </div>
  </div>
<app-footer></app-footer>
</section>
